html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Vollkorn', arial, serif;
  background: rgb(190,190,220);
}

header,nav,article {
  display: block;
}

header {
  height: 70px;
  width: auto;
  /*background-color: pink;*/
  overflow: hidden;
  margin: 0;
  padding: 10px;
  position: relative;
}

#logo {
  float: left;
  margin-right: 10px;
}

#search {
  clear: left;
  position: absolute;
  bottom: 10px;
  left: 160px;
}

#search input {
  height: 30px;
  width: 120px;
  font-size: 120%;
}

#account {
  float: right;
}

nav#portfolios {
  /*border: 1px solid black;*/
  /*background: rgb(200,200,200);*/
  width: 140px;
  float: left;
  padding: 10px;
}

nav h2,li,ul,ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav#portfolios li {
  line-height: 160%;
}

nav#tabs {
  margin-left: 160px; 
  height: 30px;
  background: purple;
}

nav#tabs li {
  display: inline;
  float: left;
}

nav#tabs li a {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  background: purple;
  line-height: 30px;
  vertical-align: middle;
  text-decoration: none;
  color: rgb(200,200,200);
}
nav#tabs li a:hover {
  background-color: rgba(255,255,255,0.2);
}

article {
  width: auto;
  /*background: green;*/
  margin-left: 160px;
  padding: 10px;
}

#chart_div {
  width: 700px;
  height: 240px;
  float: right;
}

#future-performance-chart {
  width: 440px;
  height: 220px;
}

.loader {
  background-color: rgba(230,230,230, 0.8);
  background-image: url(images/ajax-loader.gif);
  background-position: center center;
  background-repeat: no-repeat;
}


#portfolio_chart {
  background-color: rgba(230,230,230, 0.8);
  background-image: url(images/ajax-loader.gif);
  background-position: center center;
  background-repeat: no-repeat;
}

form.login fieldset {
  text-align: right;
}

form.login {
  float: left;
  width: 250px;
  margin-right: 20px;
  background: rgba(255,225,255,0.3);
}
form.login input {
}
form.login label {
  width: 150px;
}

fieldset.cash-transaction { 
  display: none;
}

form#overview-transaction {
  width: 260px;
}
fieldset.transaction {
  text-align: right;
}
#overview-transaction label {
  width: 220px;
  margin-right: 20px;
  display: inline;
  text-align: right;
}

table th {
  text-align: left;
}

table td {
  text-align: left;
  min-width: 60px;
  max-width: 100px;
  padding-right: 20px;
}

td.stock-symbol {
  font-weight: bold;
}
